<%= form_with(model: allocation, local: true) do |form| %>
  <% if allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(allocation.errors.count, "error") %> prohibited this allocation from being saved:</h2>

      <ul>
        <% allocation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :demand_id %>
    <%= form.collection_select :demand_id, Demand.all, :id, :id %>
  </div>

  <div class="field">
    <%= form.label :user_id%>
    <%= form.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_field :promised_at, min: Date.today %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
