<%= stylesheet_link_tag "tables", media: "all", "data-turbolinks-track" => "reload" %>
<p id="notice"><%= notice %></p>

<h1>User Demands</h1>

<table>
  <thead>
    <tr>
      <td>Product ID</td>
      <td>Requester ID</td>
      <td>Description</td>
      <td>Requested Amount</td>
      <td>Supplied Amount</td>
      <td>Promised Amount</td>
      <td>Expiry Date</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= demand.product_id %></td>
        <td><%= demand.demander_id %></td>
        <td><%= demand.description %></td>
        <td><%= demand.requested_amount %></td>
        <td><%= demand.supplied_amount %></td>
        <td><%= demand.promised_amount %></td>
        <td><%= demand.expiry_at %></td>
        <td><%= link_to 'Show', demand %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demand', new_demand_path %>
