<div class="card">
<div class="card-header">
  <h3>Nueva solicitud</h3>
</div>
<div class="card-body">
<%= form_with(model: demand, local: true) do |form| %>
  <% if demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>
      <ul>
        <% demand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, class: "form-control"%>
  </div>


  <div class="field">
    <%= form.label :demander_id %>
    <%= form.number_field :demander_id %>
  </div>


  <div class="field">
    <%= form.label :Cantidad %>
    <%= form.text_field :requested_amount, class: "form-control" %>
  </div>
  <input type="hidden" name="supplied_amount" value=0>
  <input type="hidden" name="promised_amount" value=0>

  <div class="field">
    <%= form.label :Descripcion %>
    <%= form.text_field:description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_field :expiry_at, min: Date.today %>
  </div>

  <div class="actions">
    <%= form.submit "Crear", class: "btn btn-outline-dark"%>
  </div>
<% end %>
</div>
</div>
