<p id="notice"><%= notice %></p>

<h2>Necesitas insumos?</h2>

<%= link_to 'Ingresar nueva solicitud', new_demand_path %>

<h2>Solicitudes de la comunidad</h2>
  <%if user_signed_in?%>
    <% if current_user.type_of_user == "Hospital"%>
      <%= link_to 'Ir a mis solicitudes', my_demands_mydemand_path %>
    <% end %>
  <% end %>
  <div>
  <div class='container-landpage-search'>
  
    <%= form_tag(demands_path, method: :get) do %>
      <div class="field input-group">
        <%= text_field_tag :search, params[:search], placeholder: "Escribe algo para comenzar la busqueda", class: 'text-input'%>
      </div>
      <%= submit_tag 'Buscar', name: nil ,class: 'btn view-more-demand-btn-search'%>
    <% end %>
  </div>
  <div class="demands-container">
    <% @demands.each do |demand| %>
      <div class='container-landpage demand-container'>
        <div class="demand-image-container">
          <img class='demand-image' src="<%= url_for(demand.product.image) if demand.product.image.attached? %>"/>
        </div>
        <div class='demand-text'>
          <div class="demand-data-container">
            <p class='demand-title'><%= demand.demander.last_name%>, <%= demand.demander.first_name %></p>
            <div class="demand-datum-container">
              <span class="demand-datum-label">Producto:</span><span class="demand-datum-value"><%= demand.product.name %></span>
            </div>
            <div class="demand-datum-container">
              <span class="demand-datum-label">Cantidad:</span><span class="demand-datum-value"><%= demand.requested_amount %></span>
            </div>
            <div class="demand-datum-container">
              <span class="demand-datum-label">Fecha límite propuesta:</span><span class="demand-datum-value"><%= demand.expiry_at %></span>
            </div>
          </div>
          <p class='demand-description'><%= demand.description %></p>
          <div class="demand-buttons">
            <%= link_to "Ver más", demand, class: 'btn view-more-demand-btn'%>
            <div class="owner-buttons">
              <% if current_user == demand.demander%>
                <%= link_to icon('fas', 'edit'), edit_demand_url(demand), class: "owner-button" %>
                <%= link_to icon('far', 'trash-alt'), demand, method: :delete, data: { confirm: "¿Estás seguro que quieres borrar esta solicitud?" }, class: "owner-button"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>

