<body>
<div class="row-demands">
  <div class="column-1">
    <img class="img-demand" src="<%= url_for(@products.find(@demand.product_id).image) %>"/>
  </div>
  <div class="column-2">
    <h1 class="title-demand"><%= @users.find(@demand.demander_id).last_name %>,<%= @users.find(@demand.demander_id).first_name %></h1>
    <div class="product-container-demand">
      <p class="name-product"> <%= @products.find(@demand.product_id).name %></p>
      <p> <b>Modelo: </b><a href="<%=@products.find(@demand.product_id).model_url%>"><%=@products.find(@demand.product_id).model_url%></a></p>
      <p> <b>Certificación: </b><a href="<%=@products.find(@demand.product_id).certification_url%>"><%=@products.find(@demand.product_id).certification_url%></a></p>
      <p> <b>Descripción: </b> <%= @products.find(@demand.product_id).description %></p>
      <p> <b>Especificaciones: </b> <%= @products.find(@demand.product_id).specifications %></p>
    </div>
  </div>
</div>
<div class="container-demand">
  <p> <b>Solicitud: </b> <%= @demand.description %></p>
</div>
<div class="row-demand-info">
  <div class="box-item">
    <p class="value"><%= @demand.requested_amount %></p>
    <p class="description">Cantidad solicitada</p>
  </div>
  <div class="box-item">
    <p class="value"><%= @demand.supplied_amount  %></p>
    <p class="description">Cantidad recibida</p>
  </div>
  <div class="box-item">
    <p class="value"><%=  @demand.promised_amount %></p>
    <p class="description">Cantidad comprometida</p>
  </div>
</div>
<div class="date-button">
  <% if @demand.expired %>
    <h3> Esta solicitud ya expiró </h3>
  <% else %>
    <%= link_to 'Aportar', new_allocation_url(id: @demand.id) , class: "btn btn-primary" %>
  <% end %>
  <p class="description"><b>Fecha límite: </b> <%= @demand.expiry_at %> </p>
</div>


<h2>Donaciones</h2>
<div class="demands-container">
  <% @demand.allocations.each do |alloc| %>
    <div class='container-landpage demand-container'>
      <div class="demand-image-container">
        <img class='demand-image' src="<%= url_for(@demand.product.image) %>"/>
      </div>
      <div class='demand-text'>
        <div class="demand-data-container">
          <p class='demand-title'><%= alloc.user.last_name%>, <%= alloc.user.first_name %>, <%= alloc.user.email %></p>
          <p class='demand-title'>
            <%
            case alloc.status
            when 0
               %>Pendiente<%
               if alloc.expired
                 %> (Atrasada)<%
               end
            when 1
               %>Entregada<%
            when 2
              %>Cancelada<%
            else
               %>Estado<%
            end
            %>
          </p>
          <div class="demand-datum-container">
            <span class="demand-datum-label">Compromiso:</span><span class="demand-datum-value"><%= alloc.amount %></span>
          </div>
          <div class="demand-datum-container">
            <span class="demand-datum-label">Fecha límite prometida:</span><span class="demand-datum-value"><%= alloc.promised_at %></span>
          </div>
        </div>
        <div class="demand-buttons">
          <div class="owner-buttons">
            <% if current_user == @demand.demander%>
              <% if alloc.status == 0 %>
                <%= form_with(model: alloc, local: true) do |form| %>
                <%= form.hidden_field :status, :value => 1 %>
                <div class="actions">
                  <%= form.submit "Confirmar entrega", class: "btn btn--radius btn--green" %>
                </div>
                <% end %>

                <% if alloc.expired %>
                  <%= form_with(model: alloc, local: true) do |form| %>
                    <%= form.hidden_field :status, :value => 2 %>
                    <div class="actions">
                      <%= form.submit "Cancelar por demora", class: "btn btn--radius btn--red" %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>














<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
