<p id="notice"><%= notice %></p>

<div class="page-wraper">
  <h2>Insumos</h2>
  <% if current_user.type_of_user == "Hospital" %>
  <p>Estos son los insumos o productos que puedes solicitar como aporte, actualmente.</p>
  <% end %>
  <div class="products-container">
    <% @products.each do |product| %>
        <div class="product-container">
          <div class="product-image-container">
            <%= image_tag (url_for(product.image)) if product.image.attached?%>
          </div>
          <div class="product-data-container">
            <div class="product-data-name"><%= product.name %></div>
            <div class="product-data-model"><%= product.model_url.present? ? product.model_url : "Sin modelo registrado" %></div>
            <div class="product-data-certification"><%= product.certification_url.present? ? product.certification_url : "Sin certificación registrada"%></div>
          </div>
        </div>
    <%end%>
  </div>
</div>

<%= link_to 'Agregar insumo', new_product_path %>
