<p id="notice"><%= notice %></p>

<div class="page-wraper">
  <h2>Insumos</h2>
  <p>Estos son los insumos o productos que puedes solicitar como aporte, actualmente.</p>
  <div class="products-container">
    <% @products.each do |product| %>
      <%= link_to product do %>
        <div class="product-container">
          <div class="product-image-container">
            <%= image_tag (url_for(product.image))%>
          </div>
          <div class="product-data-container">
            <div class="product-data-name"><%= product.name %></div>
            <div class="product-data-model"><%= product.model_url ? product.model_url : "Sin modelo registrado" %></div>
            <div class="product-data-certification"><%= product.certification_url ? product.certification_url : "Sin certificación registrada"%></div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
